<!DOCTYPE html>
<html lang='es'>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<!--<link type="text/css" href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">-->
	<title>Error - Página no encontrada</title>	
</head>
<!-- La clase bggradient pone de fondo un gradiente entre dos colores-->
<body class="bgcloud">
<!-- Parte superior de la pagina de bienvenida -->
<div class="navbar navbar-fixed-top">  
		<div class="navbar-inner">  
			<div class="container">  
				<ul class="nav">  
					<li class="brand">Social Djungle</li>  
				</ul>
			</div>  
		</div>  
	</div>   

	<!-- DOC BODY UNDER NAVBAR-->
<div class="container">
	<div class="hero-unit hero-unit-margin">
 	 <h1>Ups!</h1>
  	<p>
  		Parece que la dirección a la que intentas acceder no existe.
  	</p>
  	<a href="javascript: history.go(-1);"><button class="btn btn-primary btn-large">Volver</button></a>
	</div>


		<!-- Pie de pagina -->
	<div class="row">
		<div class="span8 footerBorder">
			<ul class="indexFooter">
				<li><a href=#>Acerca de</a></li>
				<li><a href=#>FAQ</a></li>
				<li><a href=#>Contacto</a></li>
			</ul>
		</div>	
	</div>
	</div>
</body>
</html>