{% extends 'loggedTemplate.html' %}

{% block content %}
<div class="row">
	<div class="span8 span-style">
		<div class="span-content">
			<h1> Publicar </h1>
			<form class="inline-form" id="newMicropost" method="post" action="/micropost/new"> {% csrf_token %}
				<textarea name="publication" class="input-xlarge" rows="2" placeholder="Escriba aquí lo que se le ocurra..."></textarea>
				<button class="btn btn-primary btn-large" type="submit">Publicar</button>
			</form>
		</div>
	</div>
	<div class="span4 invisible">
		<h1> COLUMNA DERECHA </h1>
	</div>
	
</div>
<div class="row">
	<div class="span8 span-style separe-bottom">
		<div class="span-content">
			<h1> Timeline </h1>
		</div>
		{% for m in micropostList %}
		<div class="micropost">
			<div class ="pull-left avatar">
				<p> Foto </p>
			</div>
			<div class="pull-left micropost-text">
				<div class="micropost-header">
					<ul>
							<li class="pull-left">{{ m.author.username }}</li>
							<li class="pull-right">{{ m.date_post }}</li>
					</ul>
				</div>
				<div class="micropost-content">
					<pre>{{ m.text }}</pre>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="span4 span-style">
		<div class="span-content">
			<h1> Fotos </h1>
		</div>
	</div>
	
</div>
	


{% endblock %}
