{% extends 'loggedTemplate.html' %}

{% block content %}
<div class="row separe-bottom">
	<div class="span8 span-style">
		<div class="span-content">
	<h1>Mensajes privados</h1>
	{% if msgList %}
	{% for m in msgList %}
		<div class="micropost">
			<div class ="pull-left avatar">
				<img src="{{ m.sender.getProfilePhoto }}">
			</div>
			<div class="pull-left micropost-text">
				<div class="micropost-header">
					<ul>
							<li class="pull-left">
								<a href="/user/profile/{{ m.sender.id }}/">{{ m.sender.username }}</a>
								&gt;
								<a href="/user/profile/{{ m.receiver.id }}/">{{ m.receiver.username }}</a>								
							</li>
					</ul>
				</div>
				<div class="micropost-content">
					<pre>{{ m.text }}</pre>
				</div>
			</div>
			{% if m.author.username == UserName %}
			<a class="pull-right" href="/micropost/delete/{{ m.id_post }}" onclick="return confirm('¿Está seguro de que desea borrar el micropost?');"><i class="icon-trash"></i> Borrar</a>
			{% endif %}
		</div>
		{% endfor %}
		{% else %}
		No hay mensajes que mostrar.
		{% endif %}
		</div>
	</div>
	<div class="span4 span-style">
		<div class="span-content">
		<h1>Buzones</h1>
		<ul>
			<li><a href="/user/messages/received/">Recibidos</a></li>
			<li><a href="/user/messages/sent/">Enviados</a></li>
		</ul>
		</div>
	</div>
</div>
{% endblock %}