{% extends 'loggedTemplate.html' %}

{% block content %}
<div class="row">
<div class="span8 span-style separe-bottom">
<div class="span-content">
	
	{% if changeImgOK %}
	<div class="alert alert-success">
		<a class="close" data-dismiss="alert">x</a> 
		<strong> {{ changeImgOK }} </strong>
	</div>
	{% endif %}
	{% if changeImgFailed %}
	<div class="alert alert-error">
		<a class="close" data-dismiss="alert">x</a> 
		<strong> {{ changeImgFailed }} </strong>
	</div>
	{% endif %}
	
  {% if ProfileUser.id != UserID %}
  <h1>Galeria de fotos de {{ ProfileUser.username }}</h1>
  {% endif %}
  {% if ProfileUser.id == UserID %}
  <h1>Tu galeria de fotos </h1>
  {% endif %}  
  <div class="pic-gallery">
  	<ul class="thumbnails">
  	{% if photoList %}
  		{% for p in photoList %}
	  		<li>
  			<div class="pic thumbnail">
					<img src="{{ p.image.url }}" alt="{{ p.name }}">
			</div>
			{% if ProfileUser.id == UserID %}
			<div>
				<a href="/user/makeProfileImg/{{ p.id }}/" onclick="return confirm('¿Hacer de esta imagen su imagen principal?');" class="pull-right"><i class="icon-user"></i> Hacer principal</a>
			</div>
			{% endif %}
				</li>
		{% endfor %}
	{% else %}
				<li> No hay fotos</li>
	{% endif %}
		</ul>
		</div>
</div>
</div>
<div class="span4 span-style separe-bottom">
<div class="span-content">
<h1>Subir foto</h1>
{% if newPhoto %}
		<div class="alert alert-success">
			<a class="close" data-dismiss="alert">x</a> 
			<strong> {{ newPhoto }} </strong>
		</div> 
{% endif %}
{%  if errorPhoto %}
	<div class="alert alert-error">
			<a class="close" data-dismiss="alert">x</a> 
			<strong> {{ errorPhoto }} </strong>
		</div> 
{% endif %}
<form id='subir_foto' class="span3" method="post" enctype="multipart/form-data" action="/user/uploadpic"> {% csrf_token %}
  <fieldset>
		<div class="control-group">
			<label class="control-label" for="username">Nombre</label>
			<div class="controls">
				<input type="text" class="input-medium" name="picname">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="file" name="picfile">
			</div>
		</div>
  	<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary btn-small" type="submit" name="sendpic">Subir foto</button>
			</div>
		</div>
		</fieldset>
  </form>
</div>
</div>
</div>
{% endblock %}


