{% extends 'loggedTemplate.html' %}

{% block content %}
<div class="hero-unit">
  <h1>Perfil de {% if ProfileUser %}{{ ProfileUser }}{% endif %}</h1>
  <p>
    Información personal:
    <div>
    	<!-- Informacion personal-->
    	<p>Nombre: {{ ProfileUser.name }}</p>
    	<p>Apellidos: {{ ProfileUser.surname }}</p>
    	<p>Sexo: {{ ProfileUser.gender }}</p>
    	<p>Fecha de nacimiento: {{ ProfileUser.birthdate }}</p>
    </div>
  </p>
  <p><a class="btn btn-primary btn-large">Más información</a></p>
</div>
{% endblock %}