{% extends 'loggedTemplate.html' %}

{% block content %}

{% if notFriend %}
<div class="row profile-style center">
	<!-- Boton para peticion de amistad -->
	Todavía no eres amigo de {{ ProfileUser.name }}.  <a href="/user/sendFriendship/{{ ProfileUser.id }}/" class="btn btn-success">Enviar petición de amistad</a>
</div>
{% endif %}
{% if friendshipRequestSent %}
<div class="alert alert-success">
<a class="close" data-dismiss="alert">x</a> 
<strong> {{ friendshipRequestSent }} </strong>
</div> 
{% endif %}

<div class="row profile-style center">
		<div class="big-bgimage">
			<img src="{{ ProfileUser.getBackgroundPhoto }}">
		</div>
		<div class="user-image">
			<img src="{{ ProfileUser.getProfilePhoto }}" >
		</div>
		<h1>{{ ProfileUser.name}} {{ ProfileUser.surname}}</h1>
		<ul class="pull-left">
			<li>Nombre de usuario: {{ ProfileUser.name }} </li>
			<li>Fecha de nacimiento: {{ ProfileUser.birthdate }}</li>
			<li>Sexo: {{ ProfileUser.gender }}</li>
			<li><a href="/user/pics/{{ ProfileUser.id }}/">Fotos</a></li>
		</ul>
		<ul class="pull-right">
			<li><a href="/user/pics/{{ ProfileUser.id }}/">Fotos</a></li>
			<li>Amigos</li>
		</ul>
</div>
<div class="row profile-style center separe-bottom">
	<h1>Últimas publicaciones</h1>
	{% for m in micropostList %}
		<div class="micropost">
			<div class ="pull-left avatar">
				<img src="{{ m.author.getProfilePhoto }}">
			</div>
			<div class="pull-left micropost-text">
				<div class="micropost-header">
					<ul>
							<li class="pull-left">{{ m.author.username }}</li>
							<li class="pull-right">{{ m.date_post }}</li>
					</ul>
				</div>
				<div class="micropost-content">
					<pre>{{ m.text }}</pre>
				</div>
			</div>
			{% if m.author.username == UserName %}
			<a class="pull-right" href="/micropost/delete/{{ m.id_post }}" onclick="return confirm('¿Está seguro de que desea borrar el micropost?');"><i class="icon-trash"></i> Borrar</a>
			{% endif %}
		</div>
		{% endfor %}
</div>
</div>
{% endblock %}