{% extends 'loggedTemplate.html' %}

{% block content %}
<div class="hero-unit">
  <h1>Perfil de {% if ProfileUserName %}{{ ProfileUserName }}{% endif %}</h1>
  <p>
    Información personal:
    <div>
    	<!-- Informacion personal-->
    	<p>Nombre: {{ ProfileName }}</p>
    	<p>Apellidos: {{ ProfileSurname }}</p>
    	<p>Sexo: {{ ProfileGender }}</p>
    	<p>Fecha de nacimiento: {{ ProfileBirthdate }}</p>
    </div>
  </p>
  <p><a class="btn btn-primary btn-large">Más información</a></p>
</div>
{% endblock %}