<!-- DOC FOOTER-->
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">  
			<div class="container">  
					<ul class="nav">
						<li> <p class="footertext">Creado con <a href="http://twitter.github.com/bootstrap/" target="_blank"><strong>BootStrap</strong></a></p></li>
						<li> <p class="footertext">Sígue el proyecto en <a href="https://github.com/alessandrofg/NosTocoCruz" target="_blank"><strong>GitHub</strong></a> </p></li>
					</ul>
					<ul class="nav pull-right">
						<li><a href=#>Acerca de</a></li>
						<li><a href=#>FAQ</a></li>
						<li><a href=#>Contacto</a></li>
					</ul>
			</div>  
		</div>  
	</div>