<!-- TOP FIXED NAVBAR-->
	<div class="navbar navbar-fixed-top">  
		<div class="navbar-inner">  
			<div class="container">  
				<ul class="nav">  
					<li class="brand">Social Djungle</li>  
					<li {% if section == "Home" %}class="active"{% endif %}><a href="/user/home">Home</a></li>  
					<li {% if section == "Perfil" %}class="active"{% endif %}><a href="/user/profile/{{ UserID }}/">Perfil</a></li>
					<li {% if section == "Gente" %}class="active"{% endif %}><a href="#">Gente</a></li>  
					<li {% if section == "Mensajes" %}class="active"{% endif %}><a href="#">Mensajes</a></li>    
					<li {% if section == "Fotos" %}class="active"{% endif %}><a href="/user/pics/{{ UserID }}/">Fotos</a></li>  
				</ul> 				
        <ul class="nav pull-right">          
        	<li>
        		<!-- Formulario de busqueda -->
        		<form id="search" class="navbar-search pull-left">  
  						<input type="text" class="search-query" placeholder="Buscar...">  
						</form> 
          </li>
          <li class="divider-vertical"></li>
           {% if UserName %}
           <li class="dropdown">
           <a href="" class="dropdown-toggle" data-toggle="dropdown">
          	{{ UserName }}
           <b class="caret"></b>
    			 </a>
    			 <ul class="dropdown-menu">
      				<li><a href="/user/config"><i class="icon-cog"></i>Configuración</a></li>
              	<li class="divider"></li>
                <li class="nav-header">Cierre de sesión</li>
                <li><a href="/user/logout">Salir</a></li>
    			 </ul>
  				 </li>
  				 {% endif %}
			 </ul>
			</div>  
		</div>  
	</div>